*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: "roboto" , sans-serif;
}

.roboto-regular {
    font-weight: 400;
    font-style: normal;
   
  }
  


:root{
/* 
    background color */
    --primary: rgb(255, 255, 255);
    --secondary: lightgreen;
    --tertiary: orange;
    --transition: all 0.2ms ease-out;
}

body{

    background: rgb(228, 222, 222);
    padding-top: 55px;
}

/* navigation link style starts here */

header{
background: var(--primary);
text-align: center;
position: fixed;
top: 0;
width: 100%;
padding: 10px 0px;
z-index: 999;
height: 55px;
border-bottom: 1px solid blue;

}

nav{
    position: absolute;
    top: 100%;
    /* right: 30px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1px;
    line-height: 3.7rem;
    background: var(--primary);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 90vh;
    text-align: left;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms  ease-in-out;
    z-index: 999;
}

nav ul{
    list-style-type: none;
}

nav li{
    margin-bottom: 1em;
    /* margin-left: 1em; */

}

nav a{
    color:blue;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1.2rem;
}

nav a:hover{
    border-bottom: 2px solid rgb(18, 18, 240);
}

.toggle-nav:checked ~ nav {
    transform: scale(1,1);
}

.toggle-nav{
    display: none;
}

.toggle-lable{
    position: absolute;
    top: 0;
    right: 10px;
    margin-left: 1em;
    display: flex;
    height: 100%;
    align-items: center;
}

.toggle-lable span,
.toggle-lable span::before,
.toggle-lable span::after{
    display: block;
    height: 3px;
    width: 2em;
    background: blue;
    border-radius: 5px;
    position: relative;
}

.toggle-lable span::before,
.toggle-lable span::after{
    content: '';
position: absolute;
}

.toggle-lable span::before{
    bottom: 7px;
}

.toggle-lable span::after{
    top: 7px;
}

.logo{
    color: blue;
    font-size: clamp(0.5rem,5vw, 3rem);
    margin-top: 5px;
    margin-right: 280px;
}


    
/* .coco{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    margin-left: 10px;
    
} */


.hero-section{
    background: var(--primary);
    top: 0;
    /* height: 190vh;
    position: absolute; 
     top: 0; */
  }

.container-rap{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-top: 120px; */
    align-items: center;
    padding: 3rem;
}

.text-container{
    margin-top: 1px;
    width: 100%;
    /* border: 1px solid; */
}
.text-container h2{
    font-size: clamp(1rem,11vw, 3rem);
    text-align: center;
    line-height: 3.5rem;
    color: black;
    margin-bottom: 10px;
}

.hero-span{
    color: blue;
    font-size:  clamp(0.5rem,8vw, 3rem);
}

.hero-paragraph{
    font-size: 24px;
    margin-top: 20px;
    font-weight: 500;
}

.hero-btn{
    padding: 17px;
    position: relative;
    top: 1px;
    left: 4px;
    background: blue;
    color: #fff;
    font-weight: 600;
    border: 1px solid blue;
    border-radius: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero-btn:hover{
    transition: var(--transition);
    cursor: pointer;
}




.image-container{
    width: 90%;
   display: flex;
   justify-content: flex-end;
   position: relative;
   top: 10px;
   /* border: 1px solid ;
    */
}

.image-container img{
    width: 100%;
   
    border-radius: 2px;
    /* border: 1px solid; */
}

.next-section{
    background: var(--primary);

}


.next-title{
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 5rem;
  }

  .first-title{
    font-size: 0.9rem;
    margin-bottom: 0px;
    color: blue;
    font-weight: 900;
  }

  
  .second-title{
    font-size: 2.5rem;
  }


  .next-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    /* border: 1px solid; */
    /* flex-direction: row; */
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 220vh;
    position: relative;
    top: 0px;
    
  }

  .first-next{
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 7px;
  }
  .second-next{
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 7px;
  }

  .third-next{
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border-radius: 7px;
  }

  .next-image{
/* border: 1px solid; */
padding: 0.5rem;
  }

  .title-next{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0.5rem;
    padding: 0.2rem;
    line-height: 10vw;
  }

  .title-quote{
    color: blue;
    font-size: 1.6rem;
    font-weight: bold;
  }


  /* menu section */

  .menu-section{
    background: var(--primary);
   
   
  }

  .menu-title{
    text-align: center;
    padding-top: 1rem;
   
    
  }

  .menu-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    /* border: 1px solid; */
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 330vh;
    margin-top: 10px;
  }

  .menu-container{
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 1rem;
  }

  .menu-container1{
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
  }

  .first-menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }

  
  .second-menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }

  .menu-quote{
    /* border: 1px solid; */
    text-align: center;
  }

  .menu-header{
    /* border: 1px solid; */
    text-align: center;
  }
  
  .menu-price{
    /* border: 1px solid; */
    text-align: center;
    color: blue;

  }




  .more-menu{
    display: block;
  }

  .more-menu{
    padding: 0.8rem;
    color: #fff;
    background: blue;
    border: none;
    border-radius: 5px;
  }


  /* Testimonial section style here */

  .testimonial-section{
    background: var(--primary);
   
   
  }

  .testimonial-container{
    display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      gap: 60px;
      /* border: 1px solid; */
      align-items: center;
      width: 90%;
      margin: 0 auto;
      height: 150vh;
      /* border: 1px solid; */
   } 

   .testimonial-image{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(82, 82, 94);
    /* background: blue; */
    
   }

   .deliver-img{
    width: 100%;
    height: 90%;
    margin: 0 auto;
    border-radius: 0px;
   }

.testimonial-side{
/* border: 1px solid; */
width: 90%;
padding: 1rem;

}


.first-title{
font-size: 0.9rem;
margin-bottom: 10px;
color: blue;
font-weight: 900;
}

.testimonial-title{
/* border: 1px solid; */
margin-bottom: 40px;
width: 100%;

}
.hero-paragraph{
  font-size: 1.5em;
}

.testimonial-rates{
/* border: 1px solid; */
padding: 2px;
width: 100%;
margin-bottom: 20px;
}

.rate-persons{
margin-bottom: 20px;
}

.image-profile{
width: 10%;
display: inline;
margin-right: 8px;
position: relative;
top: 20px;
border-radius: 50%;
}

.rate-people{
display: flex;
position: relative;
top: 20px;
justify-content: space-evenly;


}

.L-icon{
width: 7%;
height: 7%;
}


.L-icon{
width: 7%;
height: 7%;
}

.Less-than-icon{
width: 100%;
}

.G-icon{
width: 7%;
height: 7%;



}

.Greater-than-icon{
width: 100%;
}


.L-person{
width: 7%;
height: 40px;

}

.Q-person{
width: 9%;
height: 40px;

}

.rate-persons{
width: 100%;
border-radius: 50%;
}

/* contact style mobile here */

.contact-section{
  background: var(--primary);
}

.contact-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
       
        /* border: 1px solid; */
        align-items: center;
        width: 100%;
        margin: 0 auto;
        height: 210vh;
        background: var(--primary);
        color: #fff;
        padding: 2rem;
        line-height: 2rem;
}

.contact-next-container{
  background: blue;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  padding: 6em;
}

.contact-first-header{
  font-size: 2rem;
  margin-bottom: 0.5em;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.container-Last-input{
  padding: 1.2em;
  border: none;
  outline: none;
  border-radius: 2px;
}




@media screen and (min-width:800px) {
   
  .toggle-lable{
    display: none;
  }  

  header{
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    border-bottom: 1px solid blue;
  }

  .logo{
    grid-column: span 2/3;
    font-size: clamp(0.1rem,3vw, 1.5rem);
    margin-top: 5px;
    margin-left: 70px;
  }

  nav{
    grid-column: span 2/4;
    all: unset;
    justify-content: flex-end;
    display: flex;
    
  }

  nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav li{
    display: flex;
    justify-content: flex-end;
    
    
  }

  nav a{
    margin-top: 10px;
    margin-left: 20px;
  }

  .hero-section{
    background: var(--primary);
    height: 90vh;
    /* position: relative;
    top: 55px; */
  }

  .container-rap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid; */
    width: 90%;
    margin: 0 auto;
    height: 90vh;
    gap: 20px;
}

.text-container{
    width: 60%;
    
}

.text-container h2{
    font-size: clamp(0.5rem,3vw, 3rem);
    line-height: 4.5rem;
    color: black;
    margin-bottom: 5px;
}

.hero-span{
    color: blue;
    font-size: clamp(0.5rem,7vw, 3rem);
}

.hero-paragraph{
    font-size: 20px;
    margin-top: 10px;
}

.hero-btn{
    padding: 17px;
    position: relative;
    top: 17px;
    left: 17px;
    background: blue;
    color: #fff;
    font-weight: 600;
    border: 1px solid blue;
    border-radius: 2px;
}

.hero-btn:hover{
    transition: var(--transition);
    cursor: pointer;
}

.image-container{
    width: 40%;
   display: flex;
   justify-content: center;
   position: relative;
   top: 5px;
  
   /* border: 1px solid blue;
   border-radius: 50%; */
}

.image-container img{
    width: 100%;
    max-width: 300px;
    height: 100%;
    /* border: 1px solid ; */
        /* width: 100%;
        min-width: 300px; */
        border-radius: 2px;
    }
    



    /* services section style */
    .next-section{
        background: var(--primary);
       
       
      }

      .next-title{
        text-align: center;
        padding-top: 6rem;
       
        
      }

      
  .next-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    /* border: 1px solid; */
    /* flex-direction: row; */
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 300vh;
    position: relative;
    top: 0px;
    
  }

      .first-title{
        font-size: 0.9rem;
        margin-bottom: 10px;
        color: blue;
        font-weight: 900;
      }

      
      .second-title{
        font-size: 2.5rem;
      }

      .next-wrap{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        /* border: 1px solid; */
        align-items: center;
        width: 90%;
        margin: 0 auto;
        height: 90vh;
      }

      
    

      .title-next{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0.5rem;
        padding: 0.2rem;
        line-height: 4vw;
      }

     

/* menu section style */

      .menu-section{
        background: var(--primary);
       
       
      }

      .menu-title{
        text-align: center;
        padding-top: 6rem;
       
        
      }

      .menu-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        /* border: 1px solid; */
        align-items: center;
        width: 90%;
        margin: 0 auto;
        height: 140vh;
        margin-top: 50px;
      }

      .menu-container{
        border: 3px solid blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 5px;
      }

      .first-menu{
        display: flex;
        flex-direction: row;
        gap: 40px;
      }

      
      .second-menu{
        display: flex;
        flex-direction: row;
        gap: 40px;
      }

      .menu-quote{
        /* border: 1px solid; */
        text-align: center;
      }

      .menu-header{
        /* border: 1px solid; */
        text-align: center;
      }
      
      .menu-price{
        /* border: 1px solid; */
        text-align: center;
        color: blue;
    
      }
    
      .more-menu{
        display: block;
      }

      .more-menu{
        padding: 0.8rem;
        color: #fff;
        background: blue;
        border: none;
        border-radius: 5px;
      }



      /* Testimonial section style here */

      .testimonial-section{
        background: var(--primary);
       
       
      }

     .testimonial-container{
      display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 60px;
        /* border: 1px solid; */
        align-items: center;
        width: 90%;
        margin: 0 auto;
        height: 100vh;
        /* border: 1px solid; */
     } 

     .testimonial-image{
      width:40%;
      display: flex;
      justify-content: center;
      align-items: center;
      border:1px solid rgb(82, 82, 94);
      /* background: blue; */
      
     }

     .deliver-img{
      width: 100%;
      height: 90%;
      margin: 0 auto;
      border-radius: 5px;
     }

.testimonial-side{
  /* border: 1px solid; */
  width: 50%;
  padding: 2rem;
  
}


.first-title{
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: blue;
  font-weight: 900;
}

.testimonial-title{
  /* border: 1px solid; */
  margin-bottom: 20px;
  width: 100%;
  
}

.testimonial-rates{
  /* border: 1px solid; */
  padding: 2px;
  width: 100%;
  margin-bottom: 20px;
}

.rate-persons{
  margin-bottom: 20px;
}

.image-profile{
  width: 10%;
  display: inline;
  margin-right: 8px;
  position: relative;
  top: 20px;
  border-radius: 50%;
}

.rate-people{
  display: flex;
  position: relative;
  top: 20px;
  justify-content: space-evenly;


}

.L-icon{
  width: 7%;
  height: 7%;
}


.L-icon{
  width: 7%;
  height: 7%;
}

.Less-than-icon{
  width: 100%;
}

.G-icon{
  width: 7%;
  height: 7%;
  


}

.Greater-than-icon{
  width: 100%;
}


.L-person{
  width: 7%;
  height: 40px;
  
}

.Q-person{
  width: 9%;
  height: 40px;
  
}

.rate-persons{
  width: 100%;
  border-radius: 50%;
}

/* contact section style here */

.contact-section{
  background: var(--primary);
}

.contact-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
       
        /* border: 1px solid; */
        align-items: center;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        background: var(--primary);
        color: #fff;
        padding: 2rem;
        line-height: 2rem;
}

.contact-next-container{
  background: blue;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
  padding: 6em;
  border: 1px solid;
}

.contact-first-header{
  font-size: 2rem;
  margin-bottom: 0.5em;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.container-Last-input{
  padding: 1.2em;
  border: none;
  outline: none;
  border-radius: 2px;
}

}





